[submodule "clients/align-hcm/github/align-hcm-lead-intelligence"]
	path = clients/align-hcm/github/align-hcm-lead-intelligence
	url = https://github.com/dillonmohr8777/align-hcm-lead-intelligence.git
