HOST=127.0.0.1
PORT=8787
TOCK_ALLOWED_BUSINESS_ID=37824
TOCK_DB_PATH=.data/tock-events.sqlite
TOCK_AUTH_HEADER_NAME=PutteryWebhookAuth
TOCK_AUTH_HEADER_VALUE=load_from_secret_manager
TOCK_MAX_BODY_BYTES=1048576
